body {
    background-image: url('https://cdn.pixabay.com/photo/2017/07/25/01/22/cat-2536662_960_720.jpg');
    /* background-size: auto; */
    background-size: auto 100px;
    /* background-size: cover; */
  }
  
  
  h1 {
    color: white;
    font-size: 2em;
    background-color: black;
    border-radius: 5px;
    display: inline-block;
    padding:.5rem;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
  }
  
  #chat-box {
    height: 200px;
    overflow-y: scroll;
  }
  
/* Chat container styles */
#chat-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 300px;
    overflow-y: auto;
  }
  
  #chat-messages {
    height: 150px;
    overflow: auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    margin-bottom: 10px;
  }
  

  /* Chat message styles */
  #chat-messages li {
    margin-bottom: 5px;
  }
  
  /* Chat input styles */
  #chat-input {
    width: 80%;
    padding: 5px;
    margin-right: 5px;
    border-radius: 3px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Chat button styles */
  #chat-form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  /* Scrollbar styles */
  #chat-container::-webkit-scrollbar {
    width: 10px;
  }
  
  #chat-container::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
  }
  
  #chat-container::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 5px;
  }
  

  video {
    width: 75%;
    
    margin: 20px auto;
    display: block;
    border-radius: 10px;
  }
  
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    max-width: 800px;
  }
  
  input[type="text"] {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px 0 0 20px;
    border: none;
    outline: none;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #7c5dff;
    color: white;
    border-radius: 0 20px 20px 0;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 800px;
  }
  
  li {
    font-size: 16px;
    margin: 10px 0;
    padding: 10px;
    background-color: white;
    /* border-radius: 20px; */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  